{% extends 'home/base.html'%}

{% block contents %}
{% if member %}
{% for member in member %}
    <div style="background-color: yellow;" class="post">
            <div class="date">
            </div>
        <table class="table table-dark">
            <thead class="thead-inverse">
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>계정생성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{member.user_id}}</td>
                    <td>{{member.user_name}}</td>
                    <td>{{member.user_email}}</td>
                    <td>{{member.user_register_dttm}}</td>
                </tr>
            </tbody>
{%endfor%}
{%endif%}
        </table>
        <!-- linebreaksbr = 블로그 글 텍스트에서 행이 바뀌면 문단으로 변환-->
    </div>
{% endblock contents %}